html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("background.jpg");
  color: var(--font-color);
}

:root {
  --font-color: white;
}

h1,
h2 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

input {
  position: relative;
  padding: 10px 10px 10px 40px;
  width: 20rem;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 600;
}

::placeholder {
  color: var(--font-color);
  opacity: 0.6;
}

.icons {
  padding: 13px 10px 10px 10px;
  position: absolute;
  z-index: 1;
}

span {
  padding: 1rem;
  width: max-content;
  box-sizing: border-box;
  float: right;
}

input:focus-visible {
  outline: none;
}

.main {
  padding: 5rem;
  height: 100%;
}

.weather {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
}

.desc {
  display: flex;
}

.desc h2 {
  align-self: center;
}
