html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("background.jpg");
}

input {
  position: relative;
  padding: 10px 10px 10px 40px;
  width: 500px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

::placeholder {
  color: white;
  opacity: 1;
}

.icons {
  padding: 13px 10px 10px 10px;
  position: absolute;
  z-index: 1;
}

span {
  padding: 1rem;
  width: max-content;
  box-sizing: border-box;
  float: right;
}

.fa-search {
  color: white;
}

input:focus-visible {
  outline: none;
}
